@model BeerShop.Web.Areas.Beers.Models.CreateBeerViewModel
@{
    ViewData["Title"] = "View";
}
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->

<h2>View</h2>

<h4>Beer</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form  id="sub" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div style="list-style: none;" id="categories"></div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for="Ingredients" autocomplete="off" class="form-control" id="listIngredient"/>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <label asp-for="Types" class="control-label"></label>
            <input asp-for="Types" type="hidden" id="typeList"/>
            <div id="types"  class="row">
             @for (int i = 0; i < Model.Types.Count; i++)
             {
                 <div class="col-md-6">
                     <input type="checkbox" value="@Model.Types[i]" /> @Model.Types[i]
                    
                 </div>
                   
             }
                 
            </div>
          
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control"/>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    let element = $('#listIngredient');
    $(document).ready(function() { getAll(true);
     $('#sub').submit( getTypes);
     //   element.on("input", getTypes);
    });
  
 
    function getTypes() {
        let children = $('#types').children().children();
                 @{ Model.Types.Clear(); }
        var types = [];
        for (var i = 0; i < children.length; i++) {
            if (children[i].checked) {
                types.push(children[i].value);
            }
      
        }

        $('#typeList').val(types);
       // console.logprop
     console.log($('#typeList').val());
    }
    function getAll(reload) {
        if (reload) {
            $('#categories').children().remove();


            $.ajax(
                {
                    type: "GET",
                    traditional: true,
                    url: '@Url.Action("GetAllIngredients", "Home")',
                    contentType: "application/json",
                    success: function(response) {

                        for (let i = 0; i < response.length && i < 5; i++) {
//                      console.log(response[i]["name"]);
                            var li = $(`<button type="button" class="btn btn-warning btn-xs"  style="margin: 2px;" value="${(response[i]['name'].toLowerCase())}">${(response[i]['name'].toLowerCase())}</button>`);
                            li.bind('click', addToIngredients);
                            $('#categories').append(li);
                        }


                    }
                });
        }
    };

    element.on("input",
        function() {
            if (element.val().slice(-1) === ',') {
                getAll(true);
            } else {
                let text = $('#listIngredient').val();
                let parts = text.split(',');
                let substr = parts.pop();
                if (!text) {
                    getAll(true);
                }
                if (/\S/.test(substr)) {


                    $.ajax(
                        {
                            type: "GET",
                            traditional: true,
                            url: '@Url.Action("GetAllIngredientsWithSubstr", "Home")',
                            contentType: "application/json",
                            data: { 'substr': substr.trim() },
                            success: function(response) {

                                $('#categories').children().remove();

                                for (let i = 0; i < response.length && i < 5; i++) {
//                      console.log(response[i]["name"]);
                                    var li = $(
                                        `<button type="button" class="btn btn-warning btn-xs" style="margin:2px;" value="${
                                        (response[i]['name'].toLowerCase())}">${(response[i]["name"].toLowerCase())
                                        }</button>`);
                                    li.bind('click', addToIngredients);
                                    $('#categories').append(li);
                                }


                            }
                        });
                } else {
                    getAll(true);
                }
            }
        });

    function addToIngredients() {
        let inputText = element.val().trim().split(',');
        let last = inputText.pop();
        last = $(this).val() + ',';
        inputText.push(last);

        element.val(inputText.join());
        getAll(true);

    }
</script>
@*////                        $('#message-content').val('');*@
@*//////                    onclick = "deleteComment(${id})"*@
@*////                        //  var td1 = $("td").text('User.Identity.Name');*@
@*//////                var td2 = $("td").text(dataToSend.Message);*@
@*////////                var a = $("a").addClass("btn btn-danger").onclick(deleteComment(//ViewData["LastAddedComment"]))*@
@*////////                    .Text('Remove');*@
@*////                        var id = response["id"];*@
@*////                        var a = $(`<a id="maina" class="btn btn-danger" >Remove</a>`).bind( "click", function() {*@
@*////                            deleteComment($(this),id);*@
@*////                        });;*@
@*//////                    console.log(id);*@
@*//////                    var b = `<a asp-controller="BeerComment" asp-action="Delete" asp-route-id="${id}">BeerName</a>`;*@
@*//////                var td3 = $("td");*@
@*////                        var tr = $("<tr></tr>").attr('id', 'new');*@
@*////                        var remtd = $("<td></td>").append(a);*@
@*////                        $(tr).append("<td> " + 'User.Identity.Name' + "</td >");*@
@*////                        $(tr).append("<td> " + dataToSend.Message + "</td >");*@
@*////                        $(tr).append(remtd);*@
@*////                        $(tr).hide();*@
@*////                        $('#comments').append(tr);*@
@*////                        $(tr).fadeIn();*@
@*////                        $('html, body').animate({*@
@*////                                scrollTop: $("#new").offset().top*@
@*////                            },*@
@*////                            2000);*@
@*//                }*@
@*//            });*@
@*//    });*@