@using BeerShop.Web.Areas.Admin.Models
@model List<BeerShop.Web.Areas.Admin.Models.UsersModel>

@{
    ViewBag.Title = "Manage Users";
    Layout = "_Layout";
}

<h2>Manage Users</h2>
<style>

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #ffe387;
        opacity: 50;
    }
</style>
<table class="table table-striped ">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td >
                @user.Roles.FirstOrDefault()
                    
               
            </td>
            <td>
                <a class="btn btn-default" asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-username="@user.Username">Edit</a>

            
            </td>
        </tr>
    }
</table>